<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<!-- ce qui suit est la chaîne de connextion et doit être décommenter et compléter avec les bonnes informations
	(ps : se fichier ne doit pas être sur GitHub)-->
	<!--
	<connectionStrings>
		<add name="sqlserver_banque" connectionString="Data Source=nom_ou_adresse_ip_de_l_instance_sql_server;Initial Catalog=nom_base_de_donnees;User Id=nom_utilisateur_sql_server;Password=password_utilisateur" providerName="System.Data.SqlCleint" />
	</connectionStrings>
	-->
</configuration>